# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
